
<h2>Create Customer</h2>
<div [hidden]="submitted" style="width: 300px;"><!--hidden property of div is binding with submitted variable-->
  <form (ngSubmit)="onSubmit()"><--Template-driven form and from control-->
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="customer.name" name="name"><!--Inset input field and that validate 
      using required property of a form group and using two way binding ([ngMode])-->
    </div>
 
    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" class="form-control" id="age" required [(ngModel)]="customer.age" name="age">
    </div>
 
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h3>You submitted successfully!</h3>
  <button class="btn btn-success" (click)="newCustomer()">Add</button><!--This button when click new customer created,this is event binding from class method-->
</div>
