<!--The content below is only a placeholder and can be replaced.-->
<h1 class="rootH1">{{title}}</h1>
<div>
  <nav>
    <ul>
     <li><a routerLink="Customers" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a></li>
     <li><a routerLink="InsertCustomer" class="btn btn-primary active" role="button" routerLinkActive="active">Insert Customer</a></li>
     <li><a routerLink="SearchCustomer" class="btn btn-primary active" role="button" routerLinkActive="active">Search Customer</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>